<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hvt.english">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/hvt_app_name"
        android:supportsRtl="true"
        tools:node="replace"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.exam.main.ExamActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.study.StudyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.realexam.RealExamActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.categorydetail.CategoryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DetailScreen" />

        <activity
            android:name=".ui.category.CategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.streak.StreakActivity" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="HVTEnglish" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
    </application>

</manifest>